header{
    background-color: #ff7f00;
    margin: 0;
    width: 100%;
    color: white;
}
#input-text{
    margin-left: 20px;
}
.header-controlls{
    margin-right: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6rem;
}
a{
    text-decoration: none;
    color: white;
}
.logo{
    margin-left: 15px;
}
.feeling-lucky{
    background-color: #ff7f00;
    width: 6rem;
    border: solid;
}