header{
    background-color: #ff7f00;
    margin: 0;
}
.header-controlls{
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6rem;
}
a{
    text-decoration: none;
    color: #212121;
}
.logo{
    margin-left: 15px;
}