.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.hidden{
    display: none;
}
.center{
    justify-content: center;
}
.space-around{
    justify-content: space-around;
}
.spacing{
    margin: 15px;
}